codebuild-deploy.sh      @aws-samples/k8s-content-admins
config.toml              @aws-samples/k8s-content-admins
package-lock.json        @aws-samples/k8s-content-admins
package.json             @aws-samples/k8s-content-admins

