<left>

    <h2 class="github-title">GitHub Repos</h2>

    <h3 class="github-title">Frontend</h3>
    <a class="github-button" href="https://github.com/brentley/ecsdemo-frontend" data-icon="octicon-star" data-show-count="true" aria-label="Star brentley/ecsdemo-frontend on GitHub">Star</a>
    &nbsp;<a class="github-button" href="https://github.com/brentley/ecsdemo-frontend/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork brentley/ecsdemo-frontend on GitHub">Fork</a>

    <h3 class="github-title">nodejs</h3>
    <a class="github-button" href="https://github.com/brentley/ecsdemo-nodejs" data-icon="octicon-star" data-show-count="true" aria-label="Star brentley/ecsdemo-nodejs on GitHub">Star</a>
    &nbsp;<a class="github-button" href="https://github.com/brentley/ecsdemo-nodejs/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork brentley/ecsdemo-nodejs on GitHub">Fork</a>

    <h3 class="github-title">Crystal</h3>
    <a class="github-button" href="https://github.com/brentley/ecsdemo-crystal" data-icon="octicon-star" data-show-count="true" aria-label="Star brentley/ecsdemo-crystal on GitHub">Star</a>
    &nbsp;<a class="github-button" href="https://github.com/brentley/ecsdemo-crystal/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork brentley/ecsdemo-crystal on GitHub">Fork</a>

    <h5 class="copyright">&copy; 2019 Amazon Web Services, Inc. or its Affiliates. All rights reserved.<h5>

</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
